@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* ألوان الـ Dark */
  --color-primary: #ec3713;
  --color-primary-hover: #d43212;
  --color-background-dark: #1a0f0d;
  --color-card-dark: #261613;
  --color-border-dark: #3d241f;
  --color-text-muted: #a6847e;

  /* ألوان الـ Light الجديدة */
  --color-background-soft: #f4f5f7; /* الرمادي الفاتح اللي طلبته */
  --color-card-light: #ffffff;
  --color-border-light: #e2e8f0;
}

/* عشان الأيقونات تظهر صح */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  line-height: 1;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}